@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MiBank</h1>
</div>
<div style="float:left; width: 40%; padding: 40px">

    <p style="font-size: 12px;">At MiBank we are different. We’re more than a bank. We are your financial partner. With us it  is not just about  the money . It’s about your money, your happiness and your future.</p>
    <p style="font-size: 12px;">So why not come in to one of our branches, sit down, put your feet up, relax and enjoy a coffee with one of our friendly staff bank tellers, while we chat with you about how best we could meet your financial needs.</p>
    <p style="font-size: 12px;">Then once Covid is under control again in Victoria, join us for a game of billiards in the office pool room followed by a light lunch.</p>
    


</div>
<div style="float: left; min-width: 40%;  margin-left: 80px; background-image: url('/images/pay-for-coffee.png');  background-repeat: no-repeat; padding-top: 400px;">
    <div>
        <form method="get" style="margin-left: auto; margin-right: auto; width: 50%;">
            <button type="submit" class="btn btn-login" style="margin-left: auto; margin-right: auto;" asp-controller="Login" asp-action="Login">Login</button>
        </form>
    </div>

</div>
<p></p>
<!--<a href='https://www.freepik.com/photos/coffee'>Coffee photo created by jcomp - www.freepik.com</a>-->